.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 150px;
}
.header_title {
    font-family: 'Oswald', cursive;
    font-size: 44px;
    color: #605aad;
    text-align: center;
}
.header_subtitle {
    font-family: 'Momo Signature', cursive;
    font-size: 36px;
    color: #000000;
    text-align: center;
}
.main_list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.main_item {
    display: flex;
    border: 3px solid #000000;
    border-radius: 10px;
    width: calc((100% - 140px) / 2);
    box-shadow: 0 0 10px #000000;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 260px;
    height: 230px;
}

.main_item:nth-of-type(1) {
    background-image: url('./img/firstitem.png');
}
.main_item:nth-of-type(2) {
    background-image: url('./img/secound.png');
}
.main_item:nth-of-type(3) {
    background-image: url('./img/third.png');
}
.main_item:nth-of-type(4) {
    background-image: url('./img/fourth.png');
}
.maintext-div {
    padding-left: 260px
}